/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*a, p > a {
	color: #4baad3;
}
body {
	background-color: #214a85;
}
.mainMenuWrapper {
	border-color: #0F366F;
}
.mainMenuWrapper > li.currentPage {
	background-color: #214A85;
}
.headerWrapper {
	border-color: #0F366F;
}*/
input.errorSearchFormSubmitButton, input.errorSearchFormSubmitButton:hover {
	background-color: #4baad3;
}
.portfolioOneItemImageWrapper, .portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-color: #4baad3;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #4baad3;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/blue/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/blue/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/blue/smallPostReadMoreButtonBg.png);
}
input.contactSubmitButton, input.contactSubmitButton:hover {
	background-color: #4baad3;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	background-color: #4baad3;
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/blue/accordionButtonBg.png);
}
.pageNumbersWrapper {
	border-color: #3e8daf;
}
.footerWrapper {
	background-color: #1a4584;
	border-color: #0f366f;
}


@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/blue/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/blue/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/blue/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/blue/accordionButtonBg-x2.png);
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
